{% extends 'base.html' %}
{%load static%}

{%block title%} EasyTRaveller | Following {%endblock%}

{%block content%}
	<div class="container">
		<div class="jumbotron">
			<h2 class="text-primary">{{ name|title }}'s Following</h2>
			<br>
			{% if following_users_data %}
				<ul class="list-group">
					{% for user_obj in following_users_data %}
						<li>
							<div class="row">
								<div class="col-lg-2 col-md-2">
									<img src="{% if user_obj.profile %} {{ user_obj.profile }} {% else %} {%static 'img/default_user.jpg' %} {% endif %}" class="short_profile_img">
								</div>
								
								<div class="col-lg-3 col-md-3 mt-2">
									<h3><a href="{%url 'profile' user_obj.username %}" class="yellowhover">{{ user_obj.name }}</a></h3>
								</div>
								
								{% if user.username != user_obj.username and user.is_authenticated %}
									<div class="col-lg-3 col-md-3 mt-2">
										{% if user_obj.is_you_follow %}
											<button class="btn btn-sm btn-outline-danger" data="{{ user_obj.username }}" onclick="toggleFollow(this)">Unfollow</button>
										{% else %}
											<button class="btn btn-sm btn-outline-info" data="{{ user_obj.username }}" onclick="toggleFollow(this)">Follow</button>
										{% endif %}
									</div>
								{% endif %}
							</div>
						</li>
						<br>
					{% endfor %}
				</ul>
			{% else %}
				<p class="text-danger text-center">{{ name|title }} does not follow anybody</p>
			{% endif %}
		</div>
	</div>
{%endblock%}