.font14{
	font-size: 14px;
}

.bold300{
	font-weight: 300;
}

.user_profile_img{
	width: 200px; 
	height: 200px;  
	border-radius: 100px;
}

.user_social_link ul li{
	display: inline-block;
}

.user_social_link ul li a{
	width: 43px;
	height: 43px;
	border-radius: 50%;
	line-height: 43px;
	font-size: 18px;
	background: #3B5998;
	display: inline-block;
	text-align: center;
	margin: 0 7px;
}

.user_social_link ul li a i{
  color: white!important;
}

.user_social_link ul li a.twiter {
  background: #517FA4;
}

.user_social_link ul li a.insta {
  background: red;
}

.user_social_link ul li a:hover {
  background: black;
}

.followers{
	font-size: 20px;
}

.following{
	font-size: 20px;
}

.blog_img{
  border-radius: 10px; 
  width: 100%; 
  height: 200px;
}

.short_profile_img{
  width: 50px; 
  height: 50px; 
  border-radius: 200px;
}

.yellowhover:hover{
  color: #F4A919;
}

.radius10{
  border-radius: 10px;
}

#map {
  height: 600px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}

.sidebar-area .widget {
  /* background: #F8F8F8; */
  padding: 0px 0 26px 0;
  margin-bottom: 0px;
  border-radius: 8px;
}

.sidebar-area-4 {
  margin-left: 10px;
}

.contact-map {
  height: 550px;
  width: 100%;
  border: 0 !important;
}

.like_btn:hover{
  cursor: pointer;
}

.banner_title{
  color: #330000;
  font-weight: 600;
}

.profile-pic {
  position: relative;
  display: inline-block;
  text-align: center;
}

.profile-pic:hover .edit {
  display: block;
}

.edit {
  padding-top: 7px; 
  padding-right: 7px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.edit a {
  color: #000;
}

.hide{
  display: none;
}

.edit:hover{
  cursor: pointer;
}

.profile_div{
  width: 500px; 
  margin: auto;
}

.single_blog_banner{
  width: 100%;
  height: 400px;
}

.input-border{
  border:1px solid #330000;
}

.blackhover:hover{
  color: black!important;
}

.comment-user-img{
  width: 70px; 
  height: 70px; 
  border-radius: 50px;
}

.logo_title{
  text-align: center;
  color: black;
}

.show_modal:hover{
  cursor: pointer;
}

.map{
  border:0; 
  width: 100%; 
  height: 500px;
}

.smile:hover{
  cursor: pointer;
}

#count_smiles{
  color: red;
}

.explore-question-div{
  background-color: black; 
  padding: 70px;
}

.mt-40{
  margin-top: 40px;
}