{% extends 'base.html' %}
{%load static%}

{%block title%} Forget Password | Form {%endblock%}

{%block content%}
	<div class="container">
		<div class="jumbotron">
			<div class="row">
				<div class="col-lg-2 col-md-2"></div>

				<div class="col-lg-8 col-md-8">
					<h4 class="text-center text-info">Enter your registered email we will send you an email with the instructions</h4>
					<br><br>
		  			<form method="post">
		    			{% csrf_token %}
		    			<div class="form-group row">
				    		<label class="col-sm-2 col-form-label"><b>Email</b></label>
				    		<div class="col-sm-10">
				      			<input type="email" name="email" class="form-control" autocomplete="email" maxlength="254" required>
				    		</div>
				  		</div>
		    			<button type="submit" class="btn btn-sm btn-outline-success">Submit</button>
		  			</form>
				</div>

				<div class="col-lg-2 col-md-2"></div>
			</div>	
		</div>
	</div>
{%endblock%}