{% extends 'base.html' %}
{%load static%}

{%block title%} Forget Password | Confirm {%endblock%}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-lg-2 col-md-2"></div>

        <div class="col-lg-8 col-md-8">
          {% if validlink %}
            {% if form.errors %}
              <span class="text-danger">{{ form.new_password1.errors }}</span>
              <span class="text-danger">{{ form.new_password2.errors }}</span>
            {%endif%}
            <h2 class="text-center text-info">Change password</h2>
            <br><br>
            <form method="post">
              {% csrf_token %}
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><b>New Password</b></label>
                <div class="col-sm-9">
                    <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><b>Confirm Password</b></label>
                <div class="col-sm-9">
                    <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                </div>
              </div>
              <button type="submit" class="btn btn-sm btn-outline-success">Submit</button>
            </form>
          {% else %}
            <p class="text-center text-danger">The password reset link was invalid, possibly because it has already been used.Please request a new password reset.</p>
          {% endif %}
        </div>

        <div class="col-lg-2 col-md-2"></div>
      </div>
    </div>
  </div>
{% endblock %}