{% extends 'base.html' %}
{%load static%}

{%block title%} Forget Password | Done {%endblock%}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<h3 class="text-primary">We've emailed you instructions for setting your password, if an account exists with the email you entered.You should receive them shortly.</h3>
			<h3 class="text-primary">If you don't receive an email, please make sure you've entered the address you registered with,and check your spam folder.</h3>
		</div>
	</div>
{% endblock %}