{% extends 'base.html' %}
{%load static%}

{%block title%} TakeRightRoad | About us {%endblock%}

{%block content%}
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="about_text">
                        <h3>Lost Is Just a Four Letter Word</h3>
                        <p class="about_text_1">For man shall him gathering image dry gathering which cattle. Said
                            second fruit dry Upon cattle sixth lights herb gathered second that night sea his blessed he
                            us meat Seed void. Day saw him days itself lights. Give waters multiply earth very brought
                            replenish open itself multiply upon cattle she’d rule make doesn’t lights together I let
                            heaven which for land saw grass our was unto face brought seed dry moving was, were great.
                            Our won’t dry herb set over. Seasons earth upon fill it after. Shall she’d hath so which
                            seas to </p>
                        <p class="about_text_2">
                            For man shall him gathering image dry gathering which cattle. Said second fruit dry Upon
                            cattle sixth lights herb gathered second that night sea his blessed he us meat Seed void.
                            Day saw him days itself lights. Give waters multiply earth very brought replenish open
                            itself multiply upon cattle
                        </p>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="about_thumb">
                        <img src="{%static 'img/about/banner.png' %}" alt="">
                    </div>
                </div>
                <div class="about_details">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6">
                                <p>For man shall him gathering image dry gathering which cattle. Said second fruit dry
                                    Upon cattle sixth lights herb gathered second that night sea his blessed he us meat
                                    Seed void. Day saw him days itself lights.</p>
                            </div>
                            <div class="col-xl-6">
                                <p>For man shall him gathering image dry gathering which cattle. Said second fruit dry
                                    Upon cattle sixth lights herb gathered second that night sea his blessed he us meat
                                    Seed void. Day saw him days itself lights.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="moderators_area">
        <div class="container">
            <div class="modarator_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="modarator_title">
                        <h3>Our Moderators</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-3">
                    <div class="single_modarators">
                        <div class="moderator_thumb">
                            <img src="{%static 'img/team/1.png' %}" alt="">
                            <div class="author_links">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin-square"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="moderator_name">
                            <h3>Jack Piller</h3>
                            <p>Python Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_modarators">
                        <div class="moderator_thumb">
                            <img src="{%static 'img/team/2.png' %}" alt="">
                            <div class="author_links">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin-square"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="moderator_name">
                            <h3>Macau Wilium</h3>
                            <p>Python Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_modarators">
                        <div class="moderator_thumb">
                            <img src="{%static 'img/team/3.png' %}" alt="">
                            <div class="author_links">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin-square"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="moderator_name">
                            <h3>Ander Doe</h3>
                            <p>Python Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_modarators">
                        <div class="moderator_thumb">
                            <img src="{%static 'img/team/4.png' %}" alt="">
                            <div class="author_links">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin-square"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="moderator_name">
                            <h3>Clurk Amila</h3>
                            <p>Python Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="instagram_media_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="instagram_title text-center">
                        <i class="fa fa-instagram"></i>
                        <h3>@Traveller</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-3">
                    <div class="single_instragram">
                        <img src="{%static 'img/instagram/1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_instragram">
                        <img src="{%static 'img/instagram/2.png' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_instragram">
                        <img src="{%static 'img/instagram/3.png' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_instragram">
                        <img src="{%static 'img/instagram/4.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}